<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-form-input v-model="text" placeholder="Enter your name"></b-form-input>
    <div class="mt-2">Value: {{ text }}</div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      text: ""
    };
  }
};
</script>
