<template>
  <div>
    <BodyFrame>
      <b-col cols="12"><img alt="Vue logo" src="../static/logo/1.png"/></b-col>
      <b-col cols="12"
        ><b-form-input
          id="input-1"
          v-model="data"
          placeholder="Result from sample api"
        ></b-form-input
      ></b-col>
      <b-col cols="12">
        <b-button variant="danger" class="shadow " @click="func_click">
          Result
        </b-button>
      </b-col>
    </BodyFrame>
  </div>
</template>
<script>
import BodyFrame from "../components/BodyFram.vue";
import { api_sample } from "../api/api";
export default {
  data() {
    return {
      data: null
    };
  },
  methods: {
    func_click() {
      var result = api_sample();
      this.data = result.toString();
    }
  },
  components: {
    BodyFrame
  },
  mounted() {
    this.DataShow = this.Mydata;
  }
};
</script>
