<template>
  <div class="home">
    <BodyFrame>
      <b-col cols="12"><h1>MyProject-AssignMent</h1></b-col>
      <b-col cols="12"><img alt="Vue logo" src="../assets/logo.png"/></b-col>
      <b-col cols="12">
        <b-button variant="danger" class="shadow " @click="func_click_scg">
          SCG
        </b-button>
      </b-col>
    </BodyFrame>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import BodyFrame from "../components/BodyFram.vue";

export default {
  name: "home",
  methods: {
    func_click_scg() {
      // eslint-disable-next-line no-console
      console.log("func_click_scg");
      this.$router.push("/scg");
    }
  },
  components: {
    // HelloWorld
    BodyFrame
  }
};
</script>
<style></style>
