<template>
  <div>
    <BodyFrame>
      <img src="../static/cv.png" />
    </BodyFrame>
  </div>
</template>
<script>
import BodyFrame from "../components/BodyFram.vue";
export default {
  data() {
    return {};
  },
  methods: {},
  components: {
    BodyFrame
  },
  mounted() {
    this.DataShow = this.Mydata;
  }
};
</script>
