<template>
  <div>
    <BodyFrame>
      <b-col cols="12"><img alt="Vue logo" src="../static/logo/1.png"/></b-col>
      <b-col cols="12">My Data{{ Mydata }}</b-col>
      <b-col cols="12">Find Data{{ DataShow }}</b-col>
      <b-col cols="12"
        ><b-form-input
          id="input-1"
          v-model="input"
          @input="func_input"
          placeholder="Enter value for findding"
        ></b-form-input
      ></b-col>
    </BodyFrame>
  </div>
</template>
<script>
import BodyFrame from "../components/BodyFram.vue";
export default {
  data() {
    return {
      input: null,
      DataShow: [],
      Mydata: [3, 5, 9, 15, "X", "Y", "Z"]
    };
  },
  methods: {
    func_input(value) {
      this.DataShow = this.Mydata;

      // eslint-disable-next-line no-console
      console.log("func_input", value);
      var input = value.toLowerCase();
      var result = null;

      if (input != "") {
        result = this.DataShow.findIndex(
          x => x.toString().toLowerCase() == input
        );
        result = this.DataShow.filter(x => x.toString().toLowerCase() == input);
      } else {
        // eslint-disable-next-line no-console
        console.log("elese");

        result = this.Mydata;
      }
      this.DataShow = result;
      // eslint-disable-next-line no-console
      console.log(result);

      return result;
    },
    find_Data() {
      // eslint-disable-next-line no-console
      console.log("func_click_scg");
      this.$router.push("/scg");
    }
  },
  components: {
    BodyFrame
  },
  mounted() {
    this.DataShow = this.Mydata;
  }
};
</script>
