<template>
  <div id="app">
    <topBar></topBar>
    <div id="nav"></div>
    <router-view />

    <div class="footer">
      <Footer></Footer>
    </div>
  </div>
</template>

<script>
import topBar from "./Layouts/NavBar_Top.vue";
import Footer from "./Layouts/NavBar_Bottom.vue";

export default {
  data() {
    return {};
  },
  components: {
    topBar,
    Footer
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
